<h1>Stupid Coaching</h1>

<div class="card">
  <p><%= @response%></p>
  <p>- You</p>
</div>
<div class="card bg-warning">
  <p><%= @reply%></p>
  <p>-Your Coach</p>
  <p><%= link_to "Ask a new Question", "ask" %></p>
</div>
